<div>
  <input type="text" #username><br>
  <button (click)="sendValue(username)">Send</button>
</div>

<div>
  <input type="text" [(ngModel)]="twoWayData"><br>
  <h2 style="color: rgb(11, 152, 213);">{{twoWayData}}</h2>
</div>


<ng-template #temp1>
  <h1>Hello I am H1</h1>
</ng-template>
<!-- Interpolation / One-way Data Binding -->
<p>Hello {{name}}</p>
<p>{{9+6-1}}</p>
<p>{{x}}</p>
<p [style.color]="colorvalue">{{getName()}}</p>

<!-- Attribute binding -->
<p [title]="titlevalue">Hello World</p>

<!-- Style binding -->
<p [style.color]="colorvalue">Hello World</p>

<!-- Class binding -->
<p [class]="classvalue">Hello World</p>

<!-- Normal CSS from css file -->
<p id="my_bg_color">Hello World</p>
<ng-template [ngTemplateOutlet]="temp1"></ng-template>
<div *ngIf="status">
  <p>Hello ngIf</p>
</div>
<div *ngIf="getProduct() == 'Pen'">
  <p>Hello Pen</p>
</div>

<div *ngFor="let c of colors; let i = index">
  <p [style.color]="c">{{i+1}} :: {{c}}</p>
</div>
<div [ngSwitch]="getVal()">
  <p *ngSwitchCase="'ball'">Case 1</p>
  <p *ngSwitchCase="'pen'">Case 2</p>
  <p *ngSwitchCase="3">Case 3</p>
  <p *ngSwitchDefault="">Default</p>
</div>

<ng-template [ngTemplateOutlet]="temp1"></ng-template>

<p>{{something}}</p>
<p>{{something}}</p>
<button (click)="doSomething()">Click Me</button><br><br>

